$blanco: #ffffff;
$celeste: #578cb6;
$gris: #666666;
$gris-claro: #f4f4f4;
$gris-h6: #878787;
$azul: #1d69a5;
$azul_oscuro: #144268;
$verde: #1bbc9b;
$rojo: #f47264;
$amarillo_linea: #f6c640;
$amarillo_claro: #f8d470;
$amarillo_medio: #fadd8c;
$amarillo_oscuro: #f6c640;
$naranja: #e35421;